<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lemuel.lemubit.fingerprinttest">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->

        </activity>
        <activity
            android:name=".view.HomeMenu"
            android:label="Digital Attendance Record">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.EnrolActivity" />

        <meta-data
            android:name="com.bugsnag.android.API_KEY"
            android:value="e9bb1eb5ac80557313233326eb05908f" />

        <activity android:name=".view.CaptureAttendance" />

        <meta-data
            android:name="com.rollbar.android.ACCESS_TOKEN"
            android:value="ce08be5b409f49c4838dab8b096733f1" />

        <activity android:name=".view.ViewAttendance" />

        <activity android:name=".view.EnrolRightFingers">
        </activity>

        <activity android:name=".view.EnrolLeftFingers">
        </activity>

    </application>

</manifest>